body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("/images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button:hover {
    font-size: 90%;
}

button {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 4px auto;
    padding: 5px 0px;
    background-color: goldenrod;
    color: #016f32;
    font-weight: bold;
    width: 150px;
    border: none;
    border-radius: 5px;
}